
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: light grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .container .nextBtn{
    border: 2px solid red;
    margin-top: 100px;
 }